<%- include('header') %>

<section class="jumbotron container mt-5">
<% if (!user) { %>
	<h1>Welcome!</h1> 
	<p class="mt-5"><a href="/login/facebook" class="loginBtn loginBtn--facebook">Login with Facebook</a></p>
<% } else { %>
	<h1>Hello, <%= user.displayName %>.</h1>
	<p class="mt-5"><a href="/logout" class="btn btn-primary">Logout</a></p>
<% } %>
</section>

<%- include('footer') %>