@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body {
    background: #EEF2F7;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#site {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active {
    border-radius: 0;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 2px solid;
    min-width: 13em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: none;
}

.btn-primary:hover {
    background-color: #000;
    color: #fff;
}

.jumbotron {
    background: #fff;
    text-align: center;
    width: 30vw;
    max-width: initial;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 640px) {
    #site {
        display: block;
    }
    .jumbotron {
        width: auto;
    }
}

.loginBtn,
.loginBtn:hover {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    display: inline-block;
    text-decoration: none;
  }
  .loginBtn:before {
    content: "\f0e1";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
    text-align: center;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
/* Linkedin */
.loginBtn--linkedin {
  background: #0E76A8;
}
.loginBtn--linkedin:before {
  border-right: #084461 1px solid;
  font: normal normal normal 1em/34px FontAwesome;
  
}
.loginBtn--linkedin:hover,
.loginBtn--linkedin:focus {
  background: #084461;
}